{% extends "basetile.html" %}

{% block category%}

{{ tile.title }}
  
{% endblock category%}



{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <style>
     #mapef {
        width: 315px;
        height: 200px;
     }
    </style>
    <script>
      var mapef;

      function initializeEF() {
        mapef = new google.maps.Map(document.getElementById('mapef'), {
          zoom: 11,
          center: new google.maps.LatLng(-37.5555,143.851709),
          mapTypeId: 'terrain'
        });

        var script = document.createElement('script');
        script.src = '/educationFacilities/';
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      // Loop through the results array and place a marker for each
      // set of coordinates.
      window.effeed_callback = function(results) {


        for (var i = 0; i < results.features.length; i++) {
          var coords = results.features[i].geometry.coordinates;
          var latLng = new google.maps.LatLng(coords[1],coords[0]);
          
          

          var contentStringEF = "<b><font size='3'>"+results.features[i].properties.name+
                                "</font></b><br>"+"<font size='2' color='red'>"+
                                results.features[i].properties.service+"</font><br>"+
                                results.features[i].properties.location;
            
            

          var infowindow = new google.maps.InfoWindow({
            maxWidth: 140,
            maxHeight: 50
          });
          

          var markerEF = new google.maps.Marker({
            position: latLng,
            map: mapef,
            info: contentStringEF,
            title: results.features[i].properties.name
          });

                 
          markerEF.addListener('click', function() {
            infowindow.setContent(this.info);
            infowindow.open(mapef, this);
          });
        }
      }
    </script>
  </head>
  <body>
    <div id="mapef"></div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?&callback=initializeEF">
    </script>
  </body>
</html>
{% endblock content %}